table {
    height: 450px;
    width: 525px;
    box-align: center;
    text-align: center;
    margin: auto;
    background-color: #D6FA0A;

    }

.button {
    height:65px;
    width:65px;
    background-color: #FFFFFF;
    margin: auto;
    box-align: center;
    text-align: center;
    border: 5px;
    border-radius: 50px;
    box-shadow: inset 1px 3px 10px 1px rgba(0,0,0,0.6);
}

.button.playtwo {
    background-color: #2E0AFA;
}

.button.playone {
    background-color: #FA0A5E;
}

#playerTurn {
    font-family: Garamond;
    font-size: 20px;
    Color: #2E0AFA;
    text-align: center;
    line-height: 20%;
    }

#restart {
    display: block;
    box-align: center;
    text-align: center;
    margin: 0 auto;
    height: 30px;
    width: 65px;
    background-color: #CDF75C;
    color: #7C7D7A;
    font-family: arial;
    font-size: 15px;
    border: 5px;
}

h1 {
    font-family: Garamond;
    color: #FA0A5E;
    text-align: center;
    font-size: 60px;
    line-height: 20%;
}

#back {
    text-decoration: none;
    width: 60px;
    height: 30px;
    border-color: #2b2d34;
    background-color: #fbf7f4;
    color: #2b2d34;
    border-radius: 7px;
    margin: auto;
}

#back:hover {
    border-color: #fbf7f4;
    background-color: #2b2d34;
    color: #fbf7f4;
}